body{
    overflow-x: hidden;
}
*{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
}
.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    display: none;
  }
  
  .change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}
.one{
    color: orangered;
}
.title{
    position: relative;
    left: -120px;
    font-size: 26px;
    top: -5px;
    font-weight: 900;
}
.title p{
    font-weight: 700;
    font-size: 25px;
}
header{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    height: 37px;
}
.nav{
    display: flex;
    flex-direction: row;
}
ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    position: relative;
    left: -70px;
    top: 0px;
}
ul li a{
    display: flex;
    text-decoration: none;
    color: inherit;
}
ul li{
    display: flex;
    align-content: space-between;
    padding-inline: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #a3a3a3;
    padding-bottom: 10px;
}
#story{
    color: orangered;
    border-bottom: solid 2px orangered !important;
}
li:hover{
    color: orangered;
    border-bottom:2px solid #a3a3a3da;
}
i{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    padding-left: 20px;
    height: 20px;
    color: #a3a3a3;
    position: relative;
    right: 10px;
    top: -5px;
}
i:hover{
    color: orangered;
}
.box2{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    height: 480px;
}

#b22 img{
    height: 100%;
    width: 700px;
    position: relative;
    right: -355px;
}
#b21 p{
    position: relative;
    top: 90px;
    left: 170px;
    font-size: 60px;
    font-weight: 800;
}
.box3{
    background-color: lightgray;
    height: 530px;
    position: relative;
    top: -40px;
}
.D{
    color: black;
    font-size: 26px;
    font-weight: 700;
}
.D:hover {
    color: black !important;
}
#mot{
    font-size: 42px;
    font-weight: 800;
    position: relative;
    top: 120px;
    left: 90px;
}
.team{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#don{
    display: flex;
    background-color: white;
    flex-direction: row;
    height: 130px;
    border-radius: 5px;
    position: relative;
    top: 120px;
    left: 90px;
    padding: 20px;
}
#don ul{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -50px;
}
#don ul li:hover{
    border: none;
    color: lightgrey;
}

#pl1{
    background-color: lightgrey;
    width: 30px;
    height: 30px;
    padding: 4px;
    position: relative;
    top: 30px;
    right: 10px;
    border-radius: 4px;
}
#pl1 i{
    position: relative;
    top: 3px;
    left: -11px;
    color: white;
}
#pl1 i:hover{
    color: black;
}
#don img{
    border-radius: 50%;
    height: 115px;
}
#kelly{
    display: flex;
    background-color: white;
    flex-direction: row;
    height: 130px;
    border-radius: 5px;
    position: relative;
    top: 120px;
    left: 15px;
    padding: 20px;
}
#kelly ul{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -50px;
}
#kelly ul li:hover{
    border: none;
    color: lightgrey;
}

#pl2{
    background-color: lightgrey;
    width: 30px;
    height: 30px;
    padding: 4px;
    position: relative;
    top: 30px;
    right: 10px;
    border-radius: 4px;
}
#pl2 i{
    position: relative;
    top: 3px;
    left: -11px;
    color: white;
}
#pl2 i:hover{
    color: black;
}
#kelly img{
    border-radius: 50%;
    height: 115px;
}
#marie{
    display: flex;
    background-color: white;
    flex-direction: row;
    height: 130px;
    border-radius: 5px;
    position: relative;
    top: 120px;
    left: -61px;
    padding: 20px;
}
#marie ul{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -50px;
}
#marie ul li:hover{
    border: none;
    color: lightgrey;
}

#pl3{
    background-color: lightgrey;
    width: 30px;
    height: 30px;
    padding: 4px;
    position: relative;
    top: 30px;
    right: 10px;
    border-radius: 4px;
}
#pl3 i{
    position: relative;
    top: 3px;
    left: -11px;
    color: white;
}
#pl3 i:hover{
    color: black;
}
#marie img{
    border-radius: 50%;
    height: 115px;
}
.box4{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 800;
}
.box5 i{
    font-size: 50px;
    position: relative;
    left: 220px;
    top: 0px;
    color: orangered;
}
.box6 i{
    font-size: 28px;
    font-weight: 600;
    color: lightgray;
    display: flex;
    justify-content: center;
    position: relative;

}
.box7{
    display: flex;
    justify-content: center;
    position: relative;
    top: 110px;
    left: -200px;
}
.box7 img{
    height: 70px;
    border-radius: 50%;
}
#two{
    font-weight: 500;
    color: gray;
}
.box8{
    position: relative;
    top: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -120px;
    top: 180px;
}
.b81{
    background-color: white;
    border-top:solid 1px black;
    height: 50px;
    width: 90px;
    color: azure;
}
.b82{
    background-color: white;
    border-top: solid 1px lightgray;
    height: 50px;
    width: 90px;
    color: white;
}
.b82:hover{
    border-top: solid 1px black;
}
.b83{
    background-color: white;
    border-top: solid 1px lightgray;
    height: 50px;
    width: 90px;
    color: white;
}
.b83:hover{
    border-top: solid 1px black;
}
.b84{
    background-color: white;
    border-top: solid 1px lightgray;
    height: 50px;
    width: 90px;
    color: white;
}
.b84:hover{
    border-top: solid 1px black;
}
.box9{
    background-color: rgb(8, 8, 8);
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: -300px;
    overflow: hidden;
}
#b94{
    position: relative;
    top: 60px;
    right: 30px;
}
#b94 h2{
    color: white;
}
.fa-whatsapp{
    position: relative;
    right: 53px;
}
.fa-instagram{
    position: relative;
    right: 93px;
}
.fa-skype{
    position: relative;
    right: 130px;
}
#b94 ul{
    display: flex;
    flex-direction: row;
    justify-content: none;
}
#b94 ul li:hover{
    border: none;
}
#b94 ul li a i:hover{
    color: white;
}
#b93 ul{
    display: flex;
    flex-direction: column;
    top: 105px;
}
#b93 ul li a{
    font-size: 17px;
}
#b93 ul li:hover{
    border: none;
    color: white;
}
#b93 ul li a:hover{
    color: white;
}
#b92{
    position: relative;
    top: 42px;
    left: 70px;
}
#b92 p{
    font-size: 26px;
    font-weight: 700;
    color: white;
}
#b92 ul{
    position: relative;
    left: -60px;
}
#b92 ul{
    display: flex;
    flex-direction: column;
}
#b92 ul li:hover{
    border: none;
    color: white;
}
#b92 ul li a:hover{
    color: white;
}
#b91{
    position: relative;
    top: 25px;
    left: 100px;
}
#b911 a{
    color: gray;
    text-decoration: none;
}
#b911 a:hover{
    color: orangered;
}
#b911{
    color: white;
    font-size: 35px;
    font-weight: 700;
}
#b912 ,#b913{
    color: gray;
    font-size: 19px;
}
#b913 a{
    text-decoration: none;
    color: gray;
}
#b913 a:hover{
    color: orangered;
}

@media only screen and (max-width: 600px) {
    ul{
     display: none;
    }
    .title{
     position: relative;
     left: 55px;
    }
    .bar1, .bar2, .bar3{
     display: block;
    }
    i{
     position: relative;
     right: 20px;
     top: 5px;
    }
    #img{
     height: 50px;
    }
}
